.btn-lg{
  width: 150px;
}

.padding-left{
  padding-left: 15px;
}

.padding-right{
  padding-right: 15px;
}

.tab{
  margin-left: 50px;
}

.red {
  color: #e74c3c;
}

.label {
  color : #3498db;
  font-size: 15px;
}
