<div class="text-right">
  <button class="btn btn-primary text-right">
    <a href="{{excel}}" class="link">
      Download As XLS
    </a>
  </button>
</div>
<div class="row">
  <br />
</div>

<div class="row" *ngIf="nim">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <ba-card title="Profil Mahasiswa" baCardClass="with-scroll">
      <img class="profile" src="{{foto}}"/>
      <br /><br />
      <p class="col-sm-2" style="color: #4397e6">
        NIM
      </p>
      <p class="col-sm-10">
        : {{nim}}
      </p>
      <p class="col-sm-2" style="color: #4397e6">
        Nama
      </p>
      <p class="col-sm-10">
        : {{nama}}
      </p>
    </ba-card>
  </div>

  <div class="col-md-8 col-sm-12 col-xs-12">
    <ba-card title="Profil Mahasiswa" baCardClass="with-scroll" style="background-color: blue">
      <form class="row form-inline">

        <!-- NIM -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12" style="color: #4397e6">
          Topik
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{topik}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Nama -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12" style="color: #4397e6">
          Lab
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{dataLab(lab)}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Nama -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12" style="color: #4397e6">
          Dosen Pilihan 1
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{dosen_1}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Alamat -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12" style="color: #4397e6">
          Dosen Pilihan 2
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{dosen_2}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Email -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12" style="color: #4397e6">
          Progress
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
            <li *ngIf="progress_1">Belum melakukan apa-apa</li>
            <li *ngIf="progress_2">Telah membaca skripsi terkait</li>
            <li *ngIf="progress_3">Telah membaca paper terkait</li>
            <li *ngIf="progress_4">Telah mendapatkan data yang diperlukan</li>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

      </form>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <ba-card title="List Pengajuan Tugas Akhir" baCardClass="with-scroll table-panel">
      <div class="horizontal-scroll">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Lab</th>
            <th>Dosen Pilihan 1</th>
            <th>Dosen Pilihan 2</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let res of response">
            <td>{{ res.nim }}</td>
            <td>{{ res.nama}}</td>
            <td>{{ changeLab(res.lab)}}</td>
            <td>{{ res.dosen1}}</td>
            <td>{{ res.dosen2}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" (click)="openProfile(res.nim)"><i class="ion-eye"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
