<!-- List Log -->

<div class="row">
  <div class="col-lg-12 col-md-12">
    <ba-card title="Log Bimbingan" baCardClass="with-scroll">

      <div class="row" *ngFor="let res of resLog"><br />
        <div class="col-md-1 col-sm-2 col-xs-3">
          <img class="photo-icon" src="http://tabian.kpru.ac.th/home/images/User-Icon.png" />
        </div>
        <div class="col-md-6 col-sm-10 col-xs-9">
          <strong>{{res.nim}}</strong>, {{res.nama}}<br />
          {{res.topik}}<br />
          <span class="grey">{{res.tempat}}, {{res.tanggal.substr(0,10)}}</span>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-12">
          <button type="button" class="btn btn-primary btn-sm" (click)="openBimbingan(res.id)"><i class="ion-forward"></i> {{res.count}} Jawaban</button> Pada : {{res.timestamp.substr(0,10)}}, {{res.timestamp.substr(11,5)}}
        </div>
        <div class="col-md-1 col-xs-12">
          <button type="button" class="btn btn-primary btn-sm" (click)="openBimbingan(res.id)"><i class="ion-eye"></i></button>
        </div>
      </div>

    </ba-card>
  </div>
</div>



  <div class="row" *ngIf="res">
    <div class="col-md-12">
      <ba-card title="Detail Log Bimbingan" baCardClass="with-scroll">

        <!-- DETAIL Mahasiswa -->
        <div class="col-md-12" *ngFor="let res of resDetail">

          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
              <img class="photo-icon" src="http://tabian.kpru.ac.th/home/images/User-Icon.png" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <strong>Nim : </strong> {{nim}}<br />
              <strong>Nama :</strong> {{nama}}<br />
              <strong>Topik Tugas Akhir :</strong> {{topik}}<br /><br />
              <strong>{{res.tempat}}</strong>, {{res.tanggal.substr(0,10)}} {{res.jam.substr(0,5)}}<br />
              <strong>Topik Bimbingan :</strong> {{res.topik}}<br /><br />
            </div>
          </div>

          <div class="row col-md-12">
              <strong>progress :</strong> <br />{{res.progress}}<br /><br />
          </div>
          <div class="row col-md-12">
              <strong>kendala :</strong> <br />{{res.kendala}}<br /><br />
          </div>
          <div class="row col-md-12">
              <strong>rencana :</strong> <br />{{res.rencana}}<br />
          </div>

        </div>

        <div class="accent">
          &nbsp;
        </div>

        <hr />
        <!-- DETAIL Jawaban -->
        <div class="col-md-12 section-block" *ngFor="let res of resJawaban">

          <!-- Mahasiswa -->
          <div *ngIf="res.nim">
            <div class="accent text-left" style="padding-right:10%">
              <h4 class="green">{{res.jawaban}}</h4>
            </div>
            <div class="text-left">
              Mahasiswa : {{nama}}
            </div>
            <div class="text-left">
              {{res.timestamp.substr(0,10)}}, {{res.timestamp.substr(12,4)}}<br /><br />
            </div>
          </div>

          <!-- Dosen -->
          <div *ngIf="res.dosen_id">
            <div class="accent text-right" style="padding-left:10%">
              <h4 class="blue">{{res.jawaban}}</h4>
            </div>
            <div class="text-right">
              Dosen : {{res.dosen_id}}
            </div>
            <div class="text-right">
              {{res.timestamp.substr(0,10)}}, {{res.timestamp.substr(12,4)}}<br /><br />
            </div>
          </div>

        </div>

        <div class="accent">
          &nbsp;
        </div>

        <hr />

        <div class="col-md-12">
          <textarea [(ngModel)]="balasan" style="height:150px;width:100%" class="form-control" placeholder="Ketik balasan"></textarea>
        </div>

        <div class="col-md-12 text-right">
          <br /><button (click)="balas(id)" class="btn btn-md btn-primary">Balas</button>
        </div>

        status : {{status}}<br />
        message : {{message}}
      </ba-card>
    </div>
  </div>
