<p>
  Pilih jenis seminar :
</p>
<div (click)="$event.preventDefault()">
  <tabset [justified]="true">

    <!-- TAB Seminar Bersama -->
    <tab heading="SEMINAR BERSAMA NASIONAL">
        <div class="row">
          <div class="col-md-12">
            <ba-card title="Seminar Bersama Nasional" baCardClass="with-scroll">
              <form class="row form-inline">

                <!-- Nama Konferensi -->
                <div class="form-group col-md-12 col-xs-12">
                    <label>Nama Konferensi</label><br />
                    <input class="form-control" type="text" name="konferensi" />
                </div>

                <!-- Judul Paper -->
                <div class="form-group col-md-12 col-xs-12">
                    <br /><label>Judul Paper</label><br />
                    <textarea  class="form-control" style="width:100%" [(ngModel)]="topik"></textarea>
                </div>

                <!-- Tempat -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <br /><label>Tempat</label><br />
                  <input class="form-control" type="text" name="konferensi" placeholder="Bogor, Institut Pertanian Bogor"/>
                </div>

                <!-- Tanggal -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <br /><label>Tanggal</label><br />
                  <input type="date" [(ngModel)]="date" class="form-control" style="height:36px"/>
                </div>

                <!-- Upload Makalah -->
                <div class="form-group col-md-12 col-xs-12">
                  <br /><label><p href primary>Upload makalah</p></label><br />
                  <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>

                <!-- Progress Upload -->
                <div class="form-group col-md-12 col-xs-12">
                  <br />
                    <div>
                      <progressbar class="progress-striped active" type="success" [max]="max" [value]="uploader.progress"><span style="color:white; white-space:nowrap;">{{uploader.progress}} / {{max}}</span>
                      </progressbar>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Hapus
                        </button>
                    </div>
                  </div>
              </form>

              <!-- Submit -->
              <form class="form-group row form-inline">
                <div class="section-block">
                  <label padding-left for="pembimbing">&nbsp;</label><br />
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </form>
            </ba-card>
          </div>
        </div>
    </tab>


    <!-- TAB Mini Conference  -->
    <tab heading="MINI CONFERENCE ILMU KOMPUTER IPB">Short Labeled Justified content</tab>

    <!-- TAB Seminar Mandiri -->
    <tab heading="SEMINAR MANDIRI">Long Labeled Justified content</tab>
  </tabset>
</div>
