<div class="row" *ngIf="nim">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <ba-card title="Profil Mahasiswa" baCardClass="with-scroll">
      <img class="profile" src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png"/>
      <br /><br />
      <p>NIM : {{nim}}</p>
      <p>Nama : Ivan Maulana Putra</p>
    </ba-card>
  </div>

  <div class="col-md-8 col-sm-12 col-xs-12">
    <ba-card title="Profil Mahasiswa" baCardClass="with-scroll" style="background-color: blue">
      <form class="row form-inline">

        <!-- NIM -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12">
          Topik
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{topik}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Nama -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12">
          Lab
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{lab}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Nama -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12">
          Dosen Pilihan 1
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{dosen_1}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Alamat -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12">
          Dosen Pilihan 2
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
          {{dosen_2}}
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

        <!-- Email -->
        <div class="form-group col-md-3 col-sm-5 col-xs-12">
          Progress
        </div>

        <div class="form-group col-md-9 col-sm-7 col-xs-12">
            <li *ngIf="progress_1">Belum melakukan apa-apa</li>
            <li *ngIf="progress_2">Telah membaca skripsi terkait</li>
            <li *ngIf="progress_3">Telah membaca paper terkait</li>
            <li *ngIf="progress_4">Telah mendapatkan data yang diperlukan</li>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
          <br />
        </div>

      </form>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <ba-card title="List Sidang" baCardClass="with-scroll table-panel">
      <div class="horizontal-scroll">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th class="table-id">#</th>
            <th>NIM</th>
            <th>Nama</th>
            <th>Waktu</th>
            <th>Tempat</th>
            <th>Persetujuan</th>
            <th class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let res of response, let i = index">
            <td class="table-id">{{ i+1 }}</td>
            <td>{{ res.nim }}</td>
            <td>Ivan Maulana</td>
            <td>{{res.tanggal}}, jam {{res.jam}}</td>
            <td>{{res.tempat}}</td>
            <td>
              <button *ngIf="res.persetujuan_1" class="btn btn-success btn-xs"><i class="ion-checkmark-round"></i> Penguji 1</button>
              <button *ngIf="!res.persetujuan_1" class="btn btn-danger btn-xs"><i class="ion-close-round"></i> Penguji 1</button>
              <span *ngIf="res.penguji_anggota">
                  <button *ngIf="res.persetujuan_2" class="btn btn-success btn-xs"><i class="ion-checkmark-round"></i> Penguji 2</button>
                  <button *ngIf="!res.persetujuan_2" class="btn btn-danger btn-xs"><i class="ion-close-round"></i> Penguji 2</button>
              </span>
            </td>
            <td class="text-center"><button type="button" class="btn btn-primary btn-sm" (click)="openProfile(res.nim)"><i class="ion-eye"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
