<!DOCTYPE html>
<html lang="en">
<head>

  <!--
  █▀▄▀█ █▀▀█ █░░█ 　 █▀▀▄ █▀▀▀ █▀▀█ █▀▀█ █▀▀█ ░▀░ █▀▀▄ 　 █░░█ █▀▀█ 　 ▀█
  █░▀░█ █▄▄█ █░░█ 　 █░░█ █░▀█ █▄▄█ █░░█ █▄▄█ ▀█▀ █░░█ 　 █▄▄█ █▄▄█ 　 █▀
  ▀░░░▀ ▀░░▀ ░▀▀▀ 　 ▀░░▀ ▀▀▀▀ ▀░░▀ █▀▀▀ ▀░░▀ ▀▀▀ ▀░░▀ 　 ▄▄▄█ ▀░░▀ 　 ▄░
  -->

  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="<%= webpackConfig.metadata.description %>">

  <link rel="icon" type="image/png" href="assets/icon/logo.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/icon/ms-icon-144x144.png?v=2">
  <meta name="theme-color" content="#4691d1">

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">
  <link href="ng2-toastr.min.css" rel="stylesheet" />
  <!-- <script src="ng2-toastr.min.js"></script> -->

</head>

<body>
<app>
</app>

<div id="preloader">
  <div></div>
</div>
<% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
